Python Basics
---
1. Primitive Data Types
---
- There are 4 basic types of variables in python: boolean, integer, float, complex number
- Here we will focus on the first three

1.1 Booleans
--
- Booleans are very simple variables that can be in only one of 2 states: True and False
- Either you can assign a variable with 'True' or 'False' or you can assign an output of 'True' or 'False' to your variable

In [2]:
x = True
y = 100 < 10 # Here python evaluates the right hand side. Assigns output to y

print(x,y)

True False

In [3]:
print(type(y))

<class 'bool'>

1.2 Integers
---
- Integer variables are variables x which can be any number:
 $$x = {-\infty}, ..., -3,-2,-1,0,1,2,3,... , {\infty}$$
- As a reminder numbers like 0.5 and pi are not integers

In [4]:
import numpy as np

x = 7
y = 3
z = np.pi

integer = x+y
non_integer = x+z

division = x/y
remainder = x%y

integer, non_integer, division, remainder

(10, 10.141592653589793, 2.3333333333333335, 1)

In [5]:
print(type(integer))
print(type(non_integer))

<class 'int'>
<class 'float'>

- Notice that Python interprets non_integer type numbers as floats, we will get back to this.

1.3 Floating Point Numbers
--
- Real numbers are represented in Python as floats

In [6]:
Pi = 3.14159265358979323846264

pi = np.pi

print(type(Pi),type(pi))

<class 'float'> <class 'float'>

- Multiplication and division work in the standard way

In [7]:
pi*4

12.566370614359172

In [8]:
pi/3

1.0471975511965976

- Can use a**b to compute: $${a^b}$$

In [9]:
x = 2**4
y = pi**x

print(x,y)

16 90032220.84293322

- If you want to make sure a variable is a float add a decimal point to the end, but in most cases this won't be necessary as python has advanced to better recognize floating point numbers

In [10]:
x = 3
y = 3.

print(type(x),type(y))

<class 'int'> <class 'float'>

2. Container Types
---
- There are 4 basic container types in python: lists, tuples, dictionaries, and sets

2.1 Lists
--

- Sometimes a variable is a just a number
- Other times we want more information associated with that variable
- In python it is possible to combine many elements of different types into a list
- The use of square brackets indicate a list, i.e [  ]

In [11]:
Curtis = [23,'male',69.5]
print(type(Curtis))

<class 'list'>

- You can access and change elements of a list using the [  ] operator.
- Remember that in Python counting starts from 0

In [12]:
Curtis[2]

69.5

- You can change elements of the list and append elements too it

In [13]:
Curtis[2] = Curtis[2]/12


print(Curtis)

[23, 'male', 5.791666666666667]

2.1.1 Element Access and Indexes
---
- Elements of a list are numbered starting from 0.
- L[0] gives us the first element of list L.
- L[i] gives us access to the element at index i of list L.
- Element access also works in reverse: L[-1] gives access to the last element.
- You can also access a slice of the list using :
$$L[0:4]$$ returns the list $$[L[0],L[1],L[2],L[3]]$$

In [14]:
Curtis[0:2]

[23, 'male']

In [15]:
Curtis[1:3]

['male', 5.791666666666667]

In [16]:
len(Curtis)

3

- You can get the length of a list using the command len
- You can also get access to elements every 2nd, 3rd, 4th, etc. element
- L[start:stop:n] gives a list of every nth element beginning with index start but less than index stop.
- If np.linspace(1,100,100) gives a list of all non-negative integers less than 100, How do a create a list of only even integers less than 50? How do we get the odd numbers less than 75? what about the multiples of 3 less than 100?

In [17]:
L = np.linspace(1,100,100)
L

array([   1.,    2.,    3.,    4.,    5.,    6.,    7.,    8.,    9.,
         10.,   11.,   12.,   13.,   14.,   15.,   16.,   17.,   18.,
         19.,   20.,   21.,   22.,   23.,   24.,   25.,   26.,   27.,
         28.,   29.,   30.,   31.,   32.,   33.,   34.,   35.,   36.,
         37.,   38.,   39.,   40.,   41.,   42.,   43.,   44.,   45.,
         46.,   47.,   48.,   49.,   50.,   51.,   52.,   53.,   54.,
         55.,   56.,   57.,   58.,   59.,   60.,   61.,   62.,   63.,
         64.,   65.,   66.,   67.,   68.,   69.,   70.,   71.,   72.,
         73.,   74.,   75.,   76.,   77.,   78.,   79.,   80.,   81.,
         82.,   83.,   84.,   85.,   86.,   87.,   88.,   89.,   90.,
         91.,   92.,   93.,   94.,   95.,   96.,   97.,   98.,   99.,  100.])

In [18]:
L = np.linspace(1,100,100)

evens = L[1:50:2]
print(evens)

[  2.   4.   6.   8.  10.  12.  14.  16.  18.  20.  22.  24.  26.  28.  30.
  32.  34.  36.  38.  40.  42.  44.  46.  48.  50.]

In [19]:
odds = L[0:75:2]
print(odds)

[  1.   3.   5.   7.   9.  11.  13.  15.  17.  19.  21.  23.  25.  27.  29.
  31.  33.  35.  37.  39.  41.  43.  45.  47.  49.  51.  53.  55.  57.  59.
  61.  63.  65.  67.  69.  71.  73.  75.]

In [20]:
mult_three =L[2:100:3]
print(mult_three)

[  3.   6.   9.  12.  15.  18.  21.  24.  27.  30.  33.  36.  39.  42.  45.
  48.  51.  54.  57.  60.  63.  66.  69.  72.  75.  78.  81.  84.  87.  90.
  93.  96.  99.]

2.2 Tuples
---
- Tuples are a list of elements (which are not necessarily of the same type) which cannot be changed
- Use round brackets to denote tupled data

In [21]:
curtis = (27,'male',71.5) 
print(type(curtis))

<class 'tuple'>

- One property of tuples is that they are "Immutable", meaning they can't be changed.

In [22]:
curtis[0] = 5

TypeError: 'tuple' object does not support item assignment

- We can unpack tuples in the following way, lists can also be unpacked.

In [23]:
Integers = (4,5,6)
x,y,z = Integers
print(x)

4

In [24]:
print(y)

5

2.3 Dictionaries
---
- Dictionaries are like lists except that items are named instead of numbered.

In [25]:
Curtis = {'age' : 23, 'gender' : 'male', 'height': 69.5}
print(type(Curtis))

<class 'dict'>

In [26]:
Curtis['age']

23

In [27]:
Curtis['height']

69.5

- "age", "gender" and "height" are the keys. The dictionary Curtis maps them into the values 23,"male", and 69.5.
- Useful when dealing with many elements and don't want to figure out what position a variable is in.

2.4 Sets
--
- Sets are like lists but they do not allow for duplicates.
- This follows naturally from the mathematical definition of a set
- Curly brackets indicate a set

In [28]:
s = {1,2,3,3,4,5,6,6,7} 
print(type(s))

<class 'set'>

In [29]:
print(s)

{1, 2, 3, 4, 5, 6, 7}

- Sets allow both union and intersection dot command operations:

In [30]:
s1 = {3,4}
s2 = {2,3}
print (s1.intersection(s2))

{3}

In [31]:
print (s1.union(s2))

{2, 3, 4}

- We can also check if s1 is a subset of s2

In [32]:
print(s1<=s2)

False

3. Iterating
---

3.1 For Loops
--
- The most basic loop in Python is the for loop

In [33]:
for i in range(5):
    print (i)

0
1
2
3
4

- What is this doing?
- It turns out range(5) is actually a list

In [34]:
Curtis = [23, 'male', 69.5]

for element in Curtis:
    print(element)

23
male
69.5

3.2 Looping Without Indices
--
- As you will see, Python by default loop through elements of a list

In [35]:
x_values = [4,2,3]

for x in x_values:
    print (x*x)

16
4
9

- This would be perferable to:

In [36]:
for i in range(len(x_values)):
    print (x_values[i]*x_values[i])

16
4
9

- However say we wanted to multiply by the next value, this could acutally be useful:

In [37]:
for i in range(len(x_values)):
    print (x_values[i-1]*x_values[i])

12
8
6

3.3 Zipping
---
- Suppose we want to itererate through two lists at the same time (this happens all the time)
- We can do this in Python using the zip function

In [38]:
countries = ('Japan', 'Korea', 'China')
cities = ('Tokyo', 'Seoul', 'Beijing')

for country, city in zip(countries, cities):
    print ('The capital of', country,'is',city)

The capital of Japan is Tokyo
The capital of Korea is Seoul
The capital of China is Beijing

- Here zip is joining these two lists together

3.4 Enumerate
---
- Python also allows us to iterate with both the index and the value using enumerate

In [39]:
letter_list = ['a', 'b', 'c']
for i, letter in enumerate(letter_list):
    print ("The",i,"element of letter_list is",letter)

The 0 element of letter_list is a
The 1 element of letter_list is b
The 2 element of letter_list is c

- As you will see, like zip, enumerate is essentially creating a list of tuples:

In [40]:
list(enumerate(letter_list))

[(0, 'a'), (1, 'b'), (2, 'c')]

- How could we take the inner-product of two lists the following two lists?
$${x = [x_1,...,x_n]}$$ $${y = [y_1,...,y_n]}$$

- Here are three different methods:

In [41]:
x = [2,4,6,8,10,12]
y = [1,2,3,4,5,6]
ret = 0.

for x_i,y_i in zip(x,y):
    ret = ret + x_i*y_i 
print(ret)

182.0

In [42]:
x = [2,4,6,8,10,12]
y = [1,2,3,4,5,6]
ret = 0.

for x_i , y_i in zip(x,y):
    ret += x_i*y_i 
print(ret)

182.0

In [43]:
x = [2,4,6,8,10,12]
y = [1,2,3,4,5,6]
ret = []

for x_i,y_i in zip(x,y):
    ret.append(x_i*y_i) 
print(sum(ret))

182

- How would we compute the following sum:
    $$\sum\limits_{i=0}^{50} \beta^i $$
    $${\beta} = 0.95$$

In [44]:
beta = 0.95
ret = 0.
for j in range(51):
    ret += beta**j
print(ret)

18.538045469742436

3.5 If Statement
---
- "If" is a special way of evaluating code only if a condition is met.

In [45]:
x = 5
if x > 4:
    print ("Hoo-rah!")

Hoo-rah!

In [46]:
if x < 4:
    print("We did not reach this code")

- We can use else to evaluate code if the condition is not met.

In [47]:
x = []
for i in range(10):
    if 3<=i<=7:
        x.append(i**2)
    else:
        x.append(i)

In [48]:
x

[0, 1, 2, 9, 16, 25, 36, 49, 8, 9]

- Note the use of tabs (whitespace) in the code

- How would we find all the prime numbers from 1to 1000?

In [50]:
not_prime = {1}
primes = []
for i in range(1,1001):
    for p in primes:
        if i%p == 0: 
            not_prime.add(i)
    if not {i} <= not_prime: #if i is not in the set of non-primes
        primes.append(i)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

Practice Makes Perfect!
---
Thank you!
--