In [1]:
import pandas as pd
import sqlite3

In [2]:
con = sqlite3.connect("survey_db.sqlite")

In [3]:
csv_table = pd.read_csv('test.csv')

In [4]:
con.execute("DROP TABLE IF EXISTS {}".format('t'))
pd.io.sql.to_sql(csv_table, "{}".format('t'), con, index=False)

In [5]:
def run(query):
    results = pd.read_sql("{}".format(query), con).fillna(' ')
    return results

In [6]:
run('''
    SELECT 
        *
    FROM
        t
    ''')

    ID Test
0   74    a
1   40    b
2   55    c
3   88    d
4   70    a
5   59    b
6   79    c
7   51    d
8   55    a
9   75    b
10  84    c
11  81    d
12  41    a
13  63    b
14  61    c
15  65    d
16  80    a
17  66    b
18  40    c
19  85    d
20  52    a
21  40    b
22  42    c